@import "../../../common/styles/sass/variables";

.block {
  width: 482px;
  height: 74px;
  background-color: $bgBlockColor;
  color: $textColor;
  font-size: 17px;
  padding-left: 10px;
  margin-top: 15px;

  .buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 70%;

    .button {
      width: 85px;
      height: 25px;
      font-size: 10px;
      background-color: $bgButtonColor;
      color: $textColor;
    }
  }


}