@import "../../../common/styles/sass/variables";

.block {
  width: 485px;
  height: 74px;
  background-color: $bgBlockColor;
  color: $textColor;
  font-size: 17px;
  margin-top: 15px;
  cursor: pointer;
  @media screen and (max-width: 510px) {
    flex-direction: column;
    width: 90%;
  }


  .buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 70%;

    .button {
      width: 85px;
      height: 25px;
      font-size: 10px;
      background-color: $bgButtonColor;
      color: $textColor;
    }
  }
}

.block:hover {
  transition: 1s ease-in-out;
  background: #5c5c5c;
}