@import "./common/styles/sass/variables";

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: start;
  background-color: $bgColor;
  @media screen and (max-width: 1050px) {
    flex-direction: column;
    justify-content: center;
  }
}